MONGO_URI=mongodb://username:password@host:port/dbname
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
JWT_SECRET=your_jwt_secret
REFRESH_SECRET=your_refresh_secret
REFRESH_EXPIRES_IN=7d
PORT=9000
ALLOWED_ORIGINS=https://ai-code-editor-client-kohl.vercel.app
